<link href='https://fonts.googleapis.com/css?family=Playfair+Display:900italic,900,700,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ static('stylesheets/main.css') }}">
{% set color = green %}

<div class="container">
  <div class="row">
    <div class="col-md-12 headline">
      <h1><strong>{{  title  }}</strong></h1>
      <h5>These almost funded projects are right there near the finish line, give them some love and donate a few dollars!</h5>
    </div>

  </div>
  <div class="row content">
  <ul>
  {% for item in platforms %}
    <div class="col-sm-12">
      <li><h3><a href="/campaigns/{{ item|lower }}/latest?count=20" style="text-decoration: none">{{ item }}</a></h3></li>
    </div>
  {% endfor %}
  </div>
</ul>
</div>

