@import "bourbon/bourbon";

$color_purple: #F16745;
$color_red: #FFC65D;
$color_orange: #7BC8A4;
$color_green: #4CC3D9;
$color_blue: #93648D;
//$background_color: #404040;

// colors from http://www.colorcombos.com/color-schemes/4291/ColorCombo4291.html

$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', sans-serif;//'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family: 'Playfair Display', serif;//'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

body {
	font-family: $text_font_family;
	font-size: $base_font_size;
	line-height: $base_line_height;
	font-weight: 400;
    background-color: white;
    margin: 0;
    padding: 0;
}

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $display_font_family;
	line-height: $base_line_height;
	font-weight: 300;
}

strong {
  font-weight: 400;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.headline{
  margin-top: 2em;
  text-align: left;
  color: #404040;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 5em;
}

@media screen and (max-width: 500px) {
    .headline {
      font-size: 2em;
    }
}

.tile {
    width: 49.5%;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
    display: table-cell;
    border-style: solid;
    border-color: white;

  .title {
		margin-top: 0px;
	}

  &.purple, &.blue, &.red, &.orange, &.green {
    color: #fff;
  }

  &.purple {
    background: $color_purple;

		&:hover {
			background: darken($color_purple, 10%);
		}
  }

  &.red {
    background: $color_red;

		&:hover {
			background: darken($color_red, 10%);
		}
  }

  &.green {
    background: $color_green;

		&:hover {
			background: darken($color_green, 10%);
		}
  }

  &.blue {
    background: $color_blue;

		&:hover {
			background: darken($color_blue, 10%);
		}
  }

  &.orange {
    background: $color_orange;

		&:hover {
			background: darken($color_orange, 10%);
		}
  }
}